O melhor trabalho.json
[
    {
        "id": "ece955d9908bcaaf",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6515bdd067155aef",
        "type": "watson-assistant-v2",
        "z": "ece955d9908bcaaf",
        "name": "WA",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/fdc33e72-b469-481a-99c0-c5d6ef7155e2",
        "assistant_id": "6fbb6344-a096-436d-b55a-4de48303506b",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 730,
        "y": 140,
        "wires": [
            [
                "a60113cb24c5d089",
                "c32ce94252ae38e8"
            ]
        ]
    },
    {
        "id": "7cf28e86cfee8923",
        "type": "switch",
        "z": "ece955d9908bcaaf",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "8adddfcad67c1f82"
            ],
            [
                "df6984bf9c6d197a"
            ]
        ]
    },
    {
        "id": "47b461c67477b2d9",
        "type": "telegram receiver",
        "z": "ece955d9908bcaaf",
        "name": "",
        "bot": "572d3cbe68c5679b",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "7cf28e86cfee8923"
            ],
            []
        ]
    },
    {
        "id": "0cf79f51ed96c021",
        "type": "telegram sender",
        "z": "ece955d9908bcaaf",
        "name": "",
        "bot": "572d3cbe68c5679b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1510,
        "y": 200,
        "wires": [
            [
                "4a54f5ab4c427241"
            ]
        ]
    },
    {
        "id": "8adddfcad67c1f82",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcIN Texto",
        "func": "msg.params={\n    'session_id':msg.payload.chatId\n}\nmsg.payload=msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "6515bdd067155aef"
            ]
        ]
    },
    {
        "id": "374f4c5a613b3d0d",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcOUT Texto",
        "func": "msg.payload={\n    'chatId':msg.params.session_id,\n    'content':msg.payload,\n    'type':'message'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 140,
        "wires": [
            [
                "0cf79f51ed96c021"
            ]
        ]
    },
    {
        "id": "df6984bf9c6d197a",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcIN Audio",
        "func": "msg.params={\n    'session_id':msg.payload.chatId\n}\nmsg.payload=msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "64726d55faa405c2"
            ]
        ]
    },
    {
        "id": "64726d55faa405c2",
        "type": "watson-speech-to-text",
        "z": "ece955d9908bcaaf",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "_DkclfpDkfRBf1yCAhNObSaSWASum8OobO4vQZP92rl7",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/2e8deb2d-c11f-400d-8e22-9ba109f112df",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "1a480c470ebe80dd",
                "a3b007190e128800"
            ]
        ]
    },
    {
        "id": "3505362d5cb491ad",
        "type": "watson-assistant-v2",
        "z": "ece955d9908bcaaf",
        "name": "WA",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/fdc33e72-b469-481a-99c0-c5d6ef7155e2",
        "assistant_id": "6fbb6344-a096-436d-b55a-4de48303506b",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "credentials": {},
        "x": 890,
        "y": 320,
        "wires": [
            [
                "7dbfeebc329ab4c2"
            ]
        ]
    },
    {
        "id": "7dbfeebc329ab4c2",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcWA",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 320,
        "wires": [
            [
                "e0d859e47d4172bc"
            ]
        ]
    },
    {
        "id": "e0d859e47d4172bc",
        "type": "watson-text-to-speech",
        "z": "ece955d9908bcaaf",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "FIHrP6SZ7psTEivjmK0AwNiDxZblqMeX4NUM8ZOwgXf7",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/0889caf1-b4fc-42ad-bdc9-37329bb67e31",
        "x": 1210,
        "y": 320,
        "wires": [
            [
                "5842ec9d22b702d4"
            ]
        ]
    },
    {
        "id": "5842ec9d22b702d4",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcOUT Audio",
        "func": "msg.payload={\n    'chatId':msg.params.session_id,\n    'content':msg.payload,\n    'type':'voice'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 320,
        "wires": [
            [
                "0cf79f51ed96c021"
            ]
        ]
    },
    {
        "id": "a60113cb24c5d089",
        "type": "function",
        "z": "ece955d9908bcaaf",
        "name": "ProcWA",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 140,
        "wires": [
            [
                "374f4c5a613b3d0d"
            ]
        ]
    },
    {
        "id": "1a480c470ebe80dd",
        "type": "switch",
        "z": "ece955d9908bcaaf",
        "name": "",
        "property": "fullresult.results[0].alternatives[0].confidence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0.7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 320,
        "wires": [
            [
                "3505362d5cb491ad"
            ]
        ]
    },
    {
        "id": "a3b007190e128800",
        "type": "debug",
        "z": "ece955d9908bcaaf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "fullresult",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "c32ce94252ae38e8",
        "type": "debug",
        "z": "ece955d9908bcaaf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "4a54f5ab4c427241",
        "type": "debug",
        "z": "ece955d9908bcaaf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 100,
        "wires": []
    },
    {
        "id": "572d3cbe68c5679b",
        "type": "telegram bot",
        "botname": "@Diretoria_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]